*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: black;   
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{

    background-image:url(./image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{

    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/**Box 3 **/

.nav-search{

    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    height: 40px;
    width: 620px;
   border-radius: 5px;
   
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
   
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(240, 162, 19);
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.nav-search:hover{
    border: 2px solid orange;
}

/** Box 4***/

span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** b0x 6 **/

.nav-cart i{
    font-size: 30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}

/** pannel style **/

.panel{
   
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
a{
    color: white;
    text-decoration: none;
}


.panel-ops p{
    display: inline;
    margin: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.sub-nav-panel{
    height: 64px;
    display: flex;
    align-items: center;
   

}

.sub-nav a{
    height: px;
    width: 30px;
    color: #064770;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 16px;
    padding-right: 16px;
    text-decoration: none;
}

.sub-text span{
    font-size: 14px;
    display: flex;
    display:inline;
    flex-wrap: wrap;
    margin: 20px;

}

.line:hover{
    margin: 20px;
    border-bottom: 2px solid #064770;
}



.hero{
    position: absolute;
    top: 160px;
    padding: 30px;
    margin-left: 0px;
    

}
.hero-title{

    font-size: 26px;
    margin: 15px;
}

.hero-body{
    font-size: 17px;
    margin: 15px;
}

.hero-button button{

           font-size: 12px;
           background-color: #FFD814;
           height: 30px;
           border-radius: 10px;
           margin: 15px;
           border: none;
}

.find-stripe{

    height: 120px;
    margin-top: -10px ;
    padding: 20px 20px 0px;
    background-color: #F4F2F3;


}
.find-name{
    
    
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 0px 0px 8px;
    padding: 0px 0px 10px;
    font-weight: 600;
}

.reg-name{

    display: flex;
    margin-left: 360px;
    margin-bottom: 4px;
    font-size: 15px;
}
.stripe-container{

    display: flex;
    justify-content: center;

}

.reg-search-box .search1 {
    height: 25px;
    width: 300px;
    font-size: 15px;
    border-radius: 6px;
    margin-right: 20px;
}

.reg-select select{

    height: 30px;
    width: 300px;
    font-size: 13px;
    border-radius: 6px;
    
}

.reg-search button{

    background-color: black;
    margin-left: 20px;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 6px;


}

footer{
    margin-top: 15px;
}
.foot-pannel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-pannel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-pannel3{
    background-color: #222f3d;
    color: white;
    height: 100px;
    border-top: 0.5px solid white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image:url(./image/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
   
}

.foot-pannel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.85rem;
    text-align: center;
}

.pages{
   padding-top: 25px;

}
.copyright{
    padding-top: 5px;
   
}